@import "./../../style-sheets/theme";
@import "./../../style-sheets/mixin";

.dropdown-container {
  position: relative;
  @include wh(100%, 100%);

  .dropdown-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: 1px solid $light-border;
    cursor: default;
    @include wh(100%, 100%);

    span {
      font-size: 14px;
    }
    i {
      @include wh(12px, 7px);
      @include icon-normal('./../../assets/arrow.png');
    }
  }

  .dropdown-body {
    display: block;
    position: absolute;
    width: 100%;
    max-height: 300px;
    left: 0;
    top: 100%;
    border: 1px solid $light-border;
    background-color: #fff;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .05);
    overflow-y: auto;
    z-index: 9999;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 1px solid $light-border;
      }
      &:hover {
        background-color: $light-grey-background;
      }
    }
  }
}
