@import "./../../../style-sheets/theme";
@import "./../../../style-sheets/mixin";

.purchase-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    color: #fff;
  }
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a.common-button {
      padding: 0;
      background-color: transparent;
      &.buy {
        color: #fff;
      }
      &.top {
        color: #198bd4;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .purchase-section {
    height: .5rem;
    padding: 0 .5rem;
    @include icon-normal('./../assets/bg_mobile.png');
    .btn-group {
      width: 100%;
      a.common-button {
        line-height: .32rem;
        font-size: .14rem;
        @include wh(1.2rem, .32rem);
        &.buy {
          @include icon-normal('./../assets/buy_mobile.png');
        }
        &.top {
          @include icon-normal('./../assets/top_mobile.png');
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .purchase-section {
    height: 233px;
    padding: 0 400px;
    @include icon-normal('./../assets/bg_web.png');
    h4 {
      font-size: 26px;
    }
    .btn-group {
      width: 460px;
      a.common-button {
        line-height: 54px;
        font-size: 18px;
        @include wh(210px, 54px);
        &.buy {
          @include icon-normal('./../assets/buy_web.png');
        }
        &.top {
          @include icon-normal('./../assets/top_web.png');
        }
      }
    }
  }
}
