@import "./../../style-sheets/theme";
@import "./../../style-sheets/mixin";

.container {

}

@media only screen and (max-width: 1024px) {
  .container {

  }
}

@media only screen and (min-width: 1025px) {
  .container {
    padding: 200px 0;
    .download-container {
      width: 1024px;
      margin: 0 auto;
    }
  }
}
