@import "./../../style-sheets/theme";
@import "./../../style-sheets/mixin";

.form {
  text-align: center;
  form {
    input[type="text"], input[type="password"] {
      width: 100%;
      border: 1px solid $light-border;
      &:focus {
        border-color: $theme-color;
      }
    }
    .error-block {
      color: red;
    }
  }
  .login-other {
    span, a {
      display: inline-block;
    }
    a {
      color: $theme-color;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .form {
    width: 100%;
    h1 {
      font-size: .24rem;
      margin-bottom: .4rem;
    }
    form {
      display: flex;
      flex-direction: column;
      input:not(:first-child) {
        margin-top: .2rem;
      }
      input[type="text"], input[type="password"] {
        padding: .05rem .1rem;
        font-size: .12rem;
      }
      .common-button {
        margin: .2rem 0 .1rem;
      }
      .error-block {
        margin-top: .1rem;
        margin-bottom: -.1rem;
        font-size: .12rem;
      }
    }
    .login-other {
      span, a {
        font-size: .12rem;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .form {
    width: 460px;
    margin: 0 auto;
    padding: 20px;
    h1 {
      margin-bottom: 60px;
    }
    form {
      input:not(:first-child) {
        margin-top: 20px;
      }
      input[type="text"], input[type="password"] {
        padding: 10px 20px;
      }
      .common-button {
        margin: 40px 0 20px;
      }
      .error-block {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 14px;
      }
    }
    .login-other {
      span, a {
        margin: 20px 0;
        font-size: 14px;
      }
    }
  }
}
