@import "./../../../../../../style-sheets/theme";
@import "./../../../../../../style-sheets/mixin";

.contact-container {
  position: relative;
  .address {
    position: relative;
    transition: box-shadow .5s ease;
    @include border(1px, solid, $light-border, 6px);
    &.active {
      box-shadow: 0 0px 5px 1px rgba(52, 154, 255, .8);
    }
    p:not(:last-of-type) {
      border-bottom: 1px solid $light-border;
    }
    span {
      color: $light-grey-color;
    }
    em {
      font-style: normal;
    }
    a {
      position: absolute;
      color: $theme-color;
    }
  }
  .others {
    text-align: right;
    .switch {
      color: $theme-color;
      &.hide {
        color: $red-color;
      }
    }
  }
  .return {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: $theme-color;
  }
}

@media only screen and (max-width: 1024px) {
  .contact-container {
    padding: .4rem .2rem .5rem;

    .addresses {
      .address {
        &:not(:first-child) {
          margin-top: .2rem;
        }
        p {
          line-height: 0;
          margin: 0 .2rem;
          padding: .1rem .5rem .1rem 0;
        }
        span {
          line-height: 1;
          margin-right: .3rem;
          font-size: .14rem;
        }
        em {
          line-height: 1;
          font-size: .12rem;
        }
        a {
          right: .1rem;
          top: .1rem;
          font-size: .12rem;
        }
      }
    }
    .others {
      .switch {
        font-size: .14rem;
      }
    }
    .common-button {
      margin-top: 1rem;
    }
    .return {
      margin-top: .4rem;
      font-size: .12rem;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .contact-container {
    width: 50%;
    min-height: calc(100vh - 355px);
    padding: 60px 40px 200px 0;

    .addresses {
      .address {
        width: 580px;
        float: right;
        cursor: pointer;
        &:not(:first-child) {
          margin-top: 20px;
        }
        p {
          margin: 0 20px;
          padding: 10px 50px 10px 0;
        }
        span {
          margin-right: 40px;
          font-size: 16px;
        }
        em {
          font-size: 14px;
        }
        a {
          right: 10px;
          top: 10px;
          font-size: 14px;
        }
      }
    }
    .others {
      margin-top: 40px;
    }
    .common-button {
      float: right;
      width: 580px;
      margin-top: 40px;
    }
    .return {
      float: right;
      width: 580px;
      margin-top: 40px;
      font-size: 14px;
    }
  }
}
