@import "./../../style-sheets/theme";
@import "./../../style-sheets/mixin";

section {
  position: relative;
}

section:nth-child(2n) {
  background-color: #f8f8f8;
}

.product-preview {
  .product-feature {
    .head {
      display: flex;
      justify-content: center;
      .number {

      }
      .feature {
        .en-feature {
          color: #3a7bd5;
        }
      }
    }
    .others {
      .sim-button {
        margin: 0 auto;;
        color: #ffffff;
        @include icon-normal('./assets/bar_bg.png');
        .inner {
          text-align: center;
          color: #ffffff;
          @include icon-normal('./assets/btn_bg.png');
        }
      }
      p {
        text-align: center;
        color: #7c7d7d;
        span {
          color: #3a7bd5;
        }
      }
    }
  }
  .product-img {
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .product-preview {
    padding: .42rem .16rem .5rem;
    .product-feature {
      .head {
        height: .5rem;
        margin-bottom: .2rem;
        .number {
          width: .6rem;
        }
        .feature {
          margin-left: .1rem;
          .en-feature {
            font-size: .14rem;
          }
          .cn-feature {
            line-height: .3rem;
            margin-top: .05rem;
            font-size: .2rem;
          }
        }
      }
      .others {
        .sim-button {
          line-height: .3rem;
          padding: .02rem .03rem;
          font-size: .14rem;
          @include wh(3.2rem, .32rem);
          .inner {
            @include wh(1rem, .28rem);
          }
        }
        p {
          line-height: .2rem;
          font-size: .14rem;
          &:not(:first-of-type) {
            margin-top: .05rem;
          }
        }
      }
    }
    .product-img {
      margin-top: .24rem;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .product-preview {
    padding: 97px 0 36px;
    &.horizontal {
      display: flex;
      justify-content: center;
      align-items: center;
      .product-img {
        width: 720px;
        margin: 0;
      }
      .others {
        p {
          text-align: left;
        }
      }
    }
    .product-feature {
      .head {
        margin-bottom: 34px;
        .number {
          width: 120px;
        }
        .feature {
          margin-left: 24px;
          .en-feature {
            font-size: 32px;
          }
          .cn-feature {
            font-size: 52px;
            letter-spacing: 4.6px;
          }
        }
      }
      .others {
        .sim-button {
          line-height: 60px;
          padding: 6px 8px;
          font-size: 32px;
          @include wh(726px, 76px);
          .inner {
            @include wh(228px, 64px);
          }
        }
        p {
          font-size: 30px;
          &:not(:first-of-type) {
            margin-top: 10px;
          }
        }
      }
    }
    .product-img {
      width: 780px;
      margin-top: 85px;
    }
  }
}
