@import "./../../style-sheets/theme";
@import "./../../style-sheets/mixin";

section:nth-child(2n) {
  background-color: #f8f8f8;
}

.product-preview {
  .product-feature {
    .head {
      display: flex;
      justify-content: center;
      .number {

      }
      .feature {
        .en-feature {
          color: #3a7bd5;
        }
      }
    }
    .others {
      .sim-button {
        margin: 0 auto;;
        color: #ffffff;
        @include icon-normal('./assets/bar_bg.png');
        .inner {
          text-align: center;
          color: #ffffff;
          @include icon-normal('./assets/btn_bg.png');
        }
      }
      p {
        text-align: center;
        color: #7c7d7d;
        span {
          color: #3a7bd5;
        }
      }
    }
  }
  .product-img {
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .product-preview {
    padding: .85rem .35rem .5rem;
    .product-feature {
      .head {
        margin-bottom: .4rem;
        .number {
          width: 1rem;
        }
        .feature {
          margin-left: .2rem;
          .en-feature {
            font-size: .24rem;
          }
          .cn-feature {
            margin-top: .1rem;
            font-size: .42rem;
          }
        }
      }
      .others {
        .sim-button {
          line-height: .56rem;
          padding: .04rem .06rem;
          font-size: .26rem;
          @include wh(6.4rem, .64rem);
          .inner {
            @include wh(2rem, .56rem);
          }
        }
        p {
          line-height: .4rem;
          font-size: .24rem;
          &:not(:first-of-type) {
            margin-top: .1rem;
          }
        }
      }
    }
    .product-img {
      margin-top: .5rem;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .product-preview {
    padding: 97px 0 36px;
    &.horizontal {
      display: flex;
      justify-content: center;
      align-items: center;
      .product-img {
        width: 800px;
        margin: 0;
      }
      .others {
        p {
          text-align: left;
        }
      }
    }
    .product-feature {
      .head {
        margin-bottom: 34px;
        .number {
          width: 140px;
        }
        .feature {
          margin-left: 24px;
          .en-feature {
            font-size: 32px;
          }
          .cn-feature {
            font-size: 60px;
            letter-spacing: 4.6px;
          }
        }
      }
      .others {
        .sim-button {
          line-height: 60px;
          padding: 6px 8px;
          font-size: 32px;
          @include wh(726px, 76px);
          .inner {
            @include wh(228px, 64px);
          }
        }
        p {
          font-size: 30px;
          &:not(:first-of-type) {
            margin-top: 10px;
          }
        }
      }
    }
    .product-img {
      width: 850px;
      margin-top: 85px;
    }
  }
}
