@import "./../../style-sheets/theme";
@import "./../../style-sheets/mixin";

nav {
  * {
    font-size: 16px;
    color: #fff;
  }
}

@media only screen and (min-width: 1025px) {
  nav.navbar {
    position: fixed;
    z-index: 999;
    background-color: rgba(51, 51, 51, .8);
    @include wh(100%, 60px);

    .nav-container {
      position: relative;
      @include wh(100%, 100%);

      .nav-button {
        display: none;
      }

      .nav-logo {
        width: auto;
        height: 100%;
        img {
          margin-left: 15px;
          margin-top: 6px;
          height: 75%;
        }
      }

      ul.nav-list {
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        right: 60px;
        li {
          position: relative;
          height: 100%;
          float: left;
          margin: 0 20px;
          a {
            display: inline-block;
            height: 100%;
            line-height: 60px;
            padding: 0 10px;
            &.switch-language:hover {
              color: $theme-color;
            }
          }
          &:hover, &.active {
            border-bottom: 1px solid $theme-color;
            a {
              color: $theme-color;
            }
          }
          ul {
            position: absolute;
            flex-direction: column;
            max-width: 200px;
            top: 100%;
            left: 0;
            background-color: rgba(51, 51, 51, .8);
            li {
              padding: 10px;
              white-space: nowrap;
              cursor: pointer;
              &:hover {
                color: $theme-color;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  nav.navbar {
    position: fixed;
    top: 0;
    background-color: $deep-black-background;
    z-index: 9999;
    @include wh(100%, .44rem);

    .nav-container {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      @include wh(100%, 100%);

      .nav-button {
        margin-right: .2rem;
        background-color: $deep-black-background;
        @include wh(.24rem, .24rem);
        @include icon-normal('./assets/menu.svg');
        &.close {
          @include icon-normal('./assets/close.svg');
        }
      }

      .nav-logo {
        display: flex;
        width: auto;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        margin-left: .2rem;
        img {
          max-height: 80%;
          min-height: 60%;
        }
      }

      ul.nav-list {
        display: block;
        position: absolute;
        top: .44rem;
        background: $deep-black-background;
        overflow: hidden;
        transition: all .2s ease;
        z-index: 999;
        @include wh(100%, calc(100vh - 100%));
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: .3rem 0;
          a {
            width: 80%;
            padding: .08rem 0;
            text-align: center;
            font-size: .16rem;
          }
          &:active {
            background-color: rgba(51, 51, 51, .8);
          }
          ul {
            display: flex;
            justify-content: center;

            li {
              width: 50%;
              padding: .16rem;
              white-space: nowrap;
              font-size: .16rem;
              &:not(:last-child) {
                border-right: .01rem solid #fff;
              }
              &:first-child {
                text-align: right;
              }
              &:last-child {
                text-align: left;
              }
            }
          }
        }
        &.xs-hide {
          height: 0;
          li {
            display: none;
          }
        }
      }
    }
  }
}
