@import "./../../style-sheets/theme";
@import "./../../style-sheets/mixin";

.container {
  input {
    border: 1px solid $light-border;
    &:focus {
      border-color: $theme-color;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .country-codes {
      display: flex;
      align-items: center;
      width: 40%;
      margin-bottom: .1rem;
      a {
        font-size: .12rem;
        color: $theme-color;
      }
      i {
        margin-left: .05rem;
        @include wh(.1rem, .06rem);
        @include icon-normal('./../../assets/theme-arrow.png');
      }
    }

    input {
      width: 100%;
      padding: .05rem .1rem;
      font-size: .12rem;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    height: 39px;

    .dropdown {
      @include wh(120px, 100%);
    }

    input {
      padding: 10px 20px;
      @include wh(300px, 100%);
    }
  }
}
